projectA-Lead Intake + Dedup (n8n + Google Sheets)/workflows/lead-intake-dedup.json
{
  "name": "Lead Intake + Dedup (n8n + Google Sheets)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        -304
      ],
      "id": "cd885262-1f01-4e0a-aa12-680d885449c5",
      "name": "Webhook",
      "webhookId": "8d59391b-cec9-40af-a4fd-6437f85a07c7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03c6d156-3b77-435d-ae97-2aefbc908561",
              "name": "Name",
              "value": "={{ $json.body.name || \"\" }}",
              "type": "string"
            },
            {
              "id": "b96a0d6f-5d5d-4d3a-9262-e1d6aac37e51",
              "name": "Email",
              "value": "={{ ($json.body.email || \"\").toString().trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "b42afcfa-ff14-4d65-b894-ec3ab2e11f2a",
              "name": "Phone",
              "value": "={{ ($json.body.phone || \"\").toString().trim() }}",
              "type": "string"
            },
            {
              "id": "9806fe4e-d2f2-4084-80f6-e5a03fddd1ad",
              "name": "Company",
              "value": "={{ $json.body.company || \"\" }}",
              "type": "string"
            },
            {
              "id": "f06d0173-748b-40bc-bd44-1e604c97d33b",
              "name": "Role",
              "value": "={{ $json.body.role || \"\" }}",
              "type": "string"
            },
            {
              "id": "4721427d-2b28-4968-a05f-230de64a6b1e",
              "name": "Status",
              "value": "={{ $json.body.status || \"new\" }}",
              "type": "string"
            },
            {
              "id": "e8e1e6d6-80f7-48b0-a66e-1c82edf7f867",
              "name": "Interest",
              "value": "={{ $json.body.interest || \"\" }}",
              "type": "string"
            },
            {
              "id": "be3dd8a2-210f-42a9-8d1f-1a840f36e746",
              "name": "Notes",
              "value": "={{ $json.body.notes || \"\" }}",
              "type": "string"
            },
            {
              "id": "18eed079-58ba-4a88-a935-b8a4255a36f1",
              "name": "CorrelationId",
              "value": "={{ $json.headers[\"x-correlation-id\"] || (\"exec-\" + $execution.id) }}",
              "type": "string"
            },
            {
              "id": "b84bd3a6-d504-45a9-8505-06d3a4843a4f",
              "name": "StartMs",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "1c6efbbe-a03e-470e-9624-91bb0b6d1e9d",
              "name": "ReceivedAt",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "a81817c8-d927-4e5f-950e-3ca9f9095632",
              "name": "Source",
              "value": "={{ $json.body.source || \"website\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        -304
      ],
      "id": "e4261e51-cb81-4c83-8eb5-69f14fb70ba7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"action\": \"{{$('Dedup Decision').first().json.action}}\",\n  \"leadId\": \"{{$('Dedup Decision').first().json['Lead ID']}}\",\n  \"email\": \"{{$('Dedup Decision').first().json.Email}}\",\n  \"matchCount\": \"{{$('Dedup Decision').first().json.matchCount}}\",\n  \"durationSec\": \"{{$json['Duration (sec)'] || ''}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -48,
        -320
      ],
      "id": "5498e812-8b39-46f7-a0ac-aff0f20ed365",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Email",
              "field2": "Email"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          },
          "multipleMatches": "all"
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -976,
        -304
      ],
      "id": "886c6706-1f27-4353-bd42-6ca377e2850b",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA",
          "mode": "list",
          "cachedResultName": "leads,tickets, invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1152,
        -144
      ],
      "id": "3c6653e7-a09b-4e87-89d3-0d9130e8b864",
      "name": "GS - Leads Lookup",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yp3lyvYbootrNvoc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function toMs(sheetTs) {\n  if (!sheetTs) return 0;\n\n  const normalized = String(sheetTs).replace(' ', 'T') + ':00';\n  const ms = Date.parse(normalized);\n  return Number.isNaN(ms) ? 0 : ms;\n}\n\nfunction toSheetNow() {\n  const d = new Date();\n  const pad = (n) => String(n).padStart(2, '0');\n  return [\n    d.getFullYear(),\n    '-',\n    pad(d.getMonth() + 1),\n    '-',\n    pad(d.getDate()),\n    ' ',\n    pad(d.getHours()),\n    ':',\n    pad(d.getMinutes()),\n  ].join('');\n}\n\nconst rows = items.map(i => i.json);\nconst base = rows[0];\n\nconst matches = rows.filter(r => r.row_number !== undefined && r.row_number !== null);\n\nlet chosen = null;\nif (matches.length > 0) {\n  chosen = [...matches].sort((a, b) => {\n    const diff = toMs(b[\"Last Updated\"]) - toMs(a[\"Last Updated\"]);\n    if (diff !== 0) return diff;\n    return (b.row_number || 0) - (a.row_number || 0);\n  })[0];\n}\n\nconst action = matches.length > 0 ? 'update' : 'create';\nconst nowSheet = toSheetNow();\nconst generatedLeadId = `L-${String(base.StartMs % 1000000).padStart(6, '0')}`;\n\nreturn [\n  {\n    json: {\n      Name: base.Name,\n      Email: base.Email,\n      Phone: base.Phone,\n      Company: base.Company,\n      Role: base.Role,\n      Source: base.Source,\n      Status: base.Status,\n      Interest: base.Interest,\n      Notes: base.Notes,\n      CorrelationId: base.CorrelationId,\n      StartMs: base.StartMs,\n      ReceivedAt: base.ReceivedAt,\n\n      action,\n      matchCount: matches.length,\n      chosenRow: chosen ? chosen.row_number : null,\n      duplicateRows: chosen\n        ? matches.filter(m => m.row_number !== chosen.row_number).map(m => m.row_number)\n        : [],\n\n      row_number: chosen ? chosen.row_number : null,\n      \"Lead ID\": chosen ? chosen[\"Lead ID\"] : generatedLeadId,\n      \"Created At\": chosen ? chosen[\"Created At\"] : nowSheet,\n      \"Last Updated\": nowSheet\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -304
      ],
      "id": "9c590be3-12a1-4c5c-afe9-27aeb194db05",
      "name": "Dedup Decision"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA",
          "mode": "list",
          "cachedResultName": "leads,tickets, invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138679434,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit#gid=138679434"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.chosenRow }}",
            "Lead ID": "={{ $json[\"Lead ID\"] }}",
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "Company": "={{ $json.Company }}",
            "Role": "={{ $json.Role }}",
            "Source": "={{ $json.Source }}",
            "Status": "={{ $json.Status }}",
            "Interest": "={{ $json.Interest }}",
            "Created At": "={{ $json[\"Created At\"] }}",
            "Last Updated": "={{ $json[\"Last Updated\"] }}",
            "Notes": "={{ $json.Notes }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        -192
      ],
      "id": "2d9fe5c1-eb80-4402-9e3c-30b693a016c2",
      "name": "GS - Leads Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yp3lyvYbootrNvoc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94c9b4dd-fecf-43fb-899a-fa96c0bac8be",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        -304
      ],
      "id": "c95a6d49-cf72-4e68-af72-2dc15cb29d14",
      "name": "Create or Update"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA",
          "mode": "list",
          "cachedResultName": "leads,tickets, invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138679434,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit#gid=138679434"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json[\"Lead ID\"] }}",
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "Company": "={{ $json.Company }}",
            "Role": "={{ $json.Role }}",
            "Source": "={{ $json.Source }}",
            "Status": "={{ $json.Status }}",
            "Interest": "={{ $json.Interest }}",
            "Created At": "={{ $json[\"Created At\"] }}",
            "Last Updated": "={{ $json[\"Last Updated\"] }}",
            "Notes": "={{ $json.Notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        -416
      ],
      "id": "e258d917-f7ce-4a68-8581-7a92e961fa8b",
      "name": "GS - Leads Create",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yp3lyvYbootrNvoc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a48baf81-705a-4abe-9fd9-6d0e955fb4ce",
              "name": "Timestamp",
              "value": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
              "type": "string"
            },
            {
              "id": "be616c1b-3072-4e15-8233-2771dffb10ec",
              "name": "Run ID",
              "value": "={{ \"RUN-\" + String($execution.id).padStart(6, \"0\") }}",
              "type": "string"
            },
            {
              "id": "37b148d5-c483-44a2-a50c-fe3043311a95",
              "name": "Workflow",
              "value": "=lead-intake",
              "type": "string"
            },
            {
              "id": "6f89da19-f6cb-4cb4-9058-de6f47ed8700",
              "name": "Step",
              "value": "=update_lead",
              "type": "string"
            },
            {
              "id": "604755eb-6122-4089-8d5b-d730d7bc559e",
              "name": "Result",
              "value": "=success",
              "type": "string"
            },
            {
              "id": "c73fc692-851d-4bed-b71a-c0f2d376559e",
              "name": "Error Message",
              "value": "=",
              "type": "string"
            },
            {
              "id": "4609dc80-d56b-4684-9216-2df51e293a11",
              "name": "Input Ref",
              "value": "={{ \"lead-intake:\" + $json.Email }}",
              "type": "string"
            },
            {
              "id": "f6c4556f-e1ba-4f04-9e4a-f81c9d0e392a",
              "name": "Output",
              "value": "=updated",
              "type": "string"
            },
            {
              "id": "8755b4a0-a931-44f9-8bfc-45a2eca3a0bd",
              "name": "Duration (sec)",
              "value": "={{ ((Date.now() - $('Dedup Decision').first().json.StartMs) / 1000).toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "fcd39859-1d25-4f80-87ce-277489f09c74",
              "name": "Match Count",
              "value": "={{ $('Dedup Decision').first().json.matchCount ?? 0 }}",
              "type": "string"
            },
            {
              "id": "e5acd937-14ed-4476-82b5-6f1305675664",
              "name": "Duplicate Rows",
              "value": "={{ (($('Dedup Decision').first().json.duplicateRows) || []).join(',') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -192
      ],
      "id": "ad0b2d7c-212b-4012-9bc4-3aacdb994002",
      "name": "Logs - Update"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA",
          "mode": "list",
          "cachedResultName": "leads,tickets, invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1226914656,
          "mode": "list",
          "cachedResultName": "Automation_Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit#gid=1226914656"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Run ID": "={{ $json[\"Run ID\"] }}",
            "Workflow": "={{ $json.Workflow }}",
            "Result": "={{ $json.Result }}",
            "Step": "={{ $json.Step }}",
            "Error Message": "={{ $json[\"Error Message\"] }}",
            "Input Ref": "={{ $json[\"Input Ref\"] }}",
            "Output": "={{ $json.Output }}",
            "Duration (sec)": "={{ $json[\"Duration (sec)\"] }}",
            "Match Count": "={{ $json[\"Match Count\"] }}",
            "Duplicate Rows": "={{ $json[\"Duplicate Rows\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Run ID",
              "displayName": "Run ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Step",
              "displayName": "Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Input Ref",
              "displayName": "Input Ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration (sec)",
              "displayName": "Duration (sec)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Count",
              "displayName": "Match Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Duplicate Rows",
              "displayName": "Duplicate Rows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        -192
      ],
      "id": "cf8a7b94-6542-4d22-b923-2afe2d7f47ff",
      "name": "GS - Logs Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yp3lyvYbootrNvoc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a48baf81-705a-4abe-9fd9-6d0e955fb4ce",
              "name": "Timestamp",
              "value": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
              "type": "string"
            },
            {
              "id": "be616c1b-3072-4e15-8233-2771dffb10ec",
              "name": "Run ID",
              "value": "={{ \"RUN-\" + String($execution.id).padStart(6, \"0\") }}",
              "type": "string"
            },
            {
              "id": "37b148d5-c483-44a2-a50c-fe3043311a95",
              "name": "Workflow",
              "value": "=lead-intake",
              "type": "string"
            },
            {
              "id": "6f89da19-f6cb-4cb4-9058-de6f47ed8700",
              "name": "Step",
              "value": "=create_lead",
              "type": "string"
            },
            {
              "id": "604755eb-6122-4089-8d5b-d730d7bc559e",
              "name": "Result",
              "value": "=success",
              "type": "string"
            },
            {
              "id": "c73fc692-851d-4bed-b71a-c0f2d376559e",
              "name": "Error Message",
              "value": "=",
              "type": "string"
            },
            {
              "id": "4609dc80-d56b-4684-9216-2df51e293a11",
              "name": "Input Ref",
              "value": "={{ \"lead-intake:\" + $json.Email }}",
              "type": "string"
            },
            {
              "id": "f6c4556f-e1ba-4f04-9e4a-f81c9d0e392a",
              "name": "Output",
              "value": "=created",
              "type": "string"
            },
            {
              "id": "8755b4a0-a931-44f9-8bfc-45a2eca3a0bd",
              "name": "Duration (sec)",
              "value": "={{ ((Date.now() - $('Dedup Decision').first().json.StartMs) / 1000).toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "7b8c7926-6274-4cff-9466-a53e0e591993",
              "name": "Match Count",
              "value": "={{ $('Dedup Decision').first().json.matchCount ?? 0 }}",
              "type": "string"
            },
            {
              "id": "2dad0c15-780c-42d4-862b-f1a3735b56f3",
              "name": "Duplicate Rows",
              "value": "={{ (($('Dedup Decision').first().json.duplicateRows) || []).join(',') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -416
      ],
      "id": "8a93606a-31ff-4eb5-9dd0-3a262d854ccf",
      "name": "Log - Create"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA",
          "mode": "list",
          "cachedResultName": "leads,tickets, invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1226914656,
          "mode": "list",
          "cachedResultName": "Automation_Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit#gid=1226914656"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Run ID": "={{ $json[\"Run ID\"] }}",
            "Workflow": "={{ $json.Workflow }}",
            "Result": "={{ $json.Result }}",
            "Step": "={{ $json.Step }}",
            "Error Message": "={{ $json[\"Error Message\"] }}",
            "Input Ref": "={{ $json[\"Input Ref\"] }}",
            "Output": "={{ $json.Output }}",
            "Duration (sec)": "={{ $json[\"Duration (sec)\"] }}",
            "Match Count": "={{ $json[\"Match Count\"] }}",
            "Duplicate Rows": "={{ $json[\"Duplicate Rows\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Run ID",
              "displayName": "Run ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Step",
              "displayName": "Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Input Ref",
              "displayName": "Input Ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration (sec)",
              "displayName": "Duration (sec)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Count",
              "displayName": "Match Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Duplicate Rows",
              "displayName": "Duplicate Rows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        -416
      ],
      "id": "99275ff8-5a3d-4477-a06e-b7652ed53491",
      "name": "GS - Logs Create",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yp3lyvYbootrNvoc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "12678d78-ecc0-4d59-a9a9-549376a3eeae",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1360,
        -304
      ],
      "id": "8b843690-dedd-4aa0-b979-35b00f8982f8",
      "name": "IF - Email Present"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "626e6d9e-60e5-4936-8a62-4fc449f08702",
              "name": "Timestamp",
              "value": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
              "type": "string"
            },
            {
              "id": "5d16b47a-6bb8-4977-b573-ceda54a8acec",
              "name": "Run ID",
              "value": "={{ \"RUN-\" + String($execution.id).padStart(6, \"0\") }}",
              "type": "string"
            },
            {
              "id": "824dfd83-9a30-442f-8733-eb7d90ed3b6e",
              "name": "Workflow",
              "value": "=lead-intake",
              "type": "string"
            },
            {
              "id": "4b099464-c855-4aad-b229-7aba9e826b5e",
              "name": "Step",
              "value": "=reject_missing_email",
              "type": "string"
            },
            {
              "id": "8400e294-40ef-419a-9edf-d7afb507810e",
              "name": "Result",
              "value": "=rejected",
              "type": "string"
            },
            {
              "id": "db5db645-de39-46b7-bae5-db22583d7d40",
              "name": "Error Message",
              "value": "=email_missing",
              "type": "string"
            },
            {
              "id": "b8074190-2dbb-48ff-95fa-26af85dfe0ff",
              "name": "Input Ref",
              "value": "={{ \"lead-intake:\" + ($json.CorrelationId || \"no-correlation-id\") }}",
              "type": "string"
            },
            {
              "id": "d9601acc-11b1-470e-b971-87e7d313397e",
              "name": "Output",
              "value": "=rejected",
              "type": "string"
            },
            {
              "id": "a0df5902-843d-4e18-b321-8cb2b27c7d66",
              "name": "Duration (sec)",
              "value": "={{ ((Date.now() - $json.StartMs) / 1000).toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "74b5646a-a058-4cba-a9c3-d4685d0867c2",
              "name": "Match Count",
              "value": "0",
              "type": "string"
            },
            {
              "id": "64125b6c-f3eb-41b1-bd43-3b2233d126b1",
              "name": "Duplicate Rows",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        96
      ],
      "id": "222ed4c5-9024-4abe-bddb-45e439ef999d",
      "name": "Log - Reject Missing Email"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": false,\n  \"error\": \"email_missing\",\n  \"message\": \"Email is required\",\n  \"correlationId\": \"{{$('Edit Fields').first().json.CorrelationId}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -752,
        96
      ],
      "id": "5fd8e353-7807-4a7c-aa43-105cfb26da0a",
      "name": "Respond - Reject 400"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA",
          "mode": "list",
          "cachedResultName": "leads,tickets, invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1226914656,
          "mode": "list",
          "cachedResultName": "Automation_Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BEFlQvPiqv9BnR-e72OHWN2rrdiYhoOBkpNGz2ZyqkA/edit#gid=1226914656"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Run ID": "={{ $json[\"Run ID\"] }}",
            "Workflow": "={{ $json.Workflow }}",
            "Step": "={{ $json.Step }}",
            "Result": "={{ $json.Result }}",
            "Error Message": "={{ $json[\"Error Message\"] }}",
            "Input Ref": "={{ $json[\"Input Ref\"] }}",
            "Output": "={{ $json.Output }}",
            "Duration (sec)": "={{ $json[\"Duration (sec)\"] }}",
            "Match Count": "={{ $json[\"Match Count\"] }}",
            "Duplicate Rows": "={{ $json[\"Duplicate Rows\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Run ID",
              "displayName": "Run ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Step",
              "displayName": "Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Input Ref",
              "displayName": "Input Ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration (sec)",
              "displayName": "Duration (sec)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Count",
              "displayName": "Match Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duplicate Rows",
              "displayName": "Duplicate Rows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -960,
        96
      ],
      "id": "07555722-2e7c-45c7-98aa-1aefced7fa9c",
      "name": "GS - Logs Reject",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yp3lyvYbootrNvoc",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IF - Email Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Dedup Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Leads Lookup": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Dedup Decision": {
      "main": [
        [
          {
            "node": "Create or Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Leads Update": {
      "main": [
        [
          {
            "node": "Logs - Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or Update": {
      "main": [
        [
          {
            "node": "GS - Leads Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GS - Leads Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Leads Create": {
      "main": [
        [
          {
            "node": "Log - Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logs - Update": {
      "main": [
        [
          {
            "node": "GS - Logs Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Logs Update": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Create": {
      "main": [
        [
          {
            "node": "GS - Logs Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Logs Create": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Email Present": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "GS - Leads Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Reject Missing Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Reject Missing Email": {
      "main": [
        [
          {
            "node": "GS - Logs Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Logs Reject": {
      "main": [
        [
          {
            "node": "Respond - Reject 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "80cf4b89-4212-4151-a0a3-363a09f356a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd0be9b7699fc594d0067c8851217c1981aafd827ff8fde772ff3178ae64ca72"
  },
  "id": "NUkCEd6cPlfSDniU",
  "tags": []
}