projectB-NorthPeak Phase 1 - Order Intake + Fulfillment Queue (n8n + Google Sheets)/workflows/phase1/UTIL_Validate_Order/UTIL_Validate_Order.json
{
  "name": "UTIL_Validate_Order",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        -80
      ],
      "id": "6760cfea-a947-43fa-a083-3d96091c6a20",
      "name": "N01_Trigger_ExecuteSubWF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        112
      ],
      "id": "5f3e511b-4b60-4c23-9ce7-0d87991aeb87",
      "name": "N02_Trigger_Manual"
    },
    {
      "parameters": {
        "jsCode": "const required = [\n  \"channel\",\n  \"external_order_id\",\n  \"customer_email\",\n  \"customer_name\",\n  \"created_at\",\n  \"payment_status\",\n  \"total_amount\",\n  \"sku_list\",\n  \"qty_total\"\n];\n\nconst errors = [];\nfor (const k of required) {\n  const v = $json[k];\n  if (v === undefined || v === null || String(v).trim() === \"\") errors.push(`missing_${k}`);\n}\n\n// normalize yes/no fields\nconst hold = ($json.hold_review ?? \"no\").toString().trim().toLowerCase();\nconst hold_review = (hold === \"yes\" || hold === \"true\") ? \"yes\" : \"no\";\n\nconst payment = ($json.payment_status ?? \"\").toString().trim().toLowerCase();\nconst allowedPayments = [\"paid\", \"pending\", \"failed\", \"refunded\"];\nif (payment && !allowedPayments.includes(payment)) errors.push(\"invalid_payment_status\");\n\nreturn [{\n  json: {\n    ...$json,\n    hold_review,\n    payment_status: payment,\n    is_valid: errors.length === 0,\n    errors\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        16
      ],
      "id": "6a9f660b-b541-44e5-a227-79a66674e727",
      "name": "N03_Code_ValidateOrder"
    }
  ],
  "pinData": {},
  "connections": {
    "N01_Trigger_ExecuteSubWF": {
      "main": [
        [
          {
            "node": "N03_Code_ValidateOrder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N02_Trigger_Manual": {
      "main": [
        [
          {
            "node": "N03_Code_ValidateOrder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3574673c-996d-475e-b857-9a3182a0163f",
  "meta": {
    "instanceId": "bd0be9b7699fc594d0067c8851217c1981aafd827ff8fde772ff3178ae64ca72"
  },
  "id": "K3Ll9MRJ0xaQhIRN",
  "tags": []
}