projectB-NorthPeak Phase 1 - Order Intake + Fulfillment Queue (n8n + Google Sheets)/workflows/phase1/UTIL_Update_Order_Status/UTIL_Update_Order_Status.json
{
  "name": "UTIL_Update_Order_Status",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        -96
      ],
      "id": "e5ff378c-9eb3-49a1-8cdf-2d2c4a85da3f",
      "name": "N01_Trigger_ExecuteSubWF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        176
      ],
      "id": "7c857489-b024-4c44-8148-4b7e40dc1e63",
      "name": "N02_Trigger_Manual"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb794c1f-be3d-465a-b432-e026ce1dbba6",
              "name": "order_uid",
              "value": "={{ $json.order_uid || (\"ord_\" + $json.channel + \"_\" + $json.external_order_id) }}",
              "type": "string"
            },
            {
              "id": "61b72745-60d8-4e50-8a8a-876a93beeaf4",
              "name": "action",
              "value": "={{ $json.action || \"update_order_status\" }}",
              "type": "string"
            },
            {
              "id": "4baf4b23-47d0-4104-8f11-7580c3987f8e",
              "name": "actor",
              "value": "={{ $json.actor || \"n8n\" }}",
              "type": "string"
            },
            {
              "id": "144f0bc9-9424-4853-81a0-bb93e96754d2",
              "name": "workflow_name",
              "value": "={{ $json.workflow_name || $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        48
      ],
      "id": "d17bcb63-37e7-4f8e-89ad-0988e7cb5055",
      "name": "N03_Edit_EnsureOrderUID_AndMeta"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EHAlJOVYV2dtTBeu8uTPg3IfnkjKSBUAwIbib5Hxeso",
          "mode": "list",
          "cachedResultName": "portfolio_project2_ops_case_upgraded",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHAlJOVYV2dtTBeu8uTPg3IfnkjKSBUAwIbib5Hxeso/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 367438380,
          "mode": "list",
          "cachedResultName": "12_Orders_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHAlJOVYV2dtTBeu8uTPg3IfnkjKSBUAwIbib5Hxeso/edit#gid=367438380"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "order_uid",
              "lookupValue": "={{ $json.order_uid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        48
      ],
      "id": "f083528f-ff6c-4a06-a59c-f72811a76b2c",
      "name": "N04_GSheets_Get_OrdersMaster_ByOrderUID",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yp3lyvYbootrNvoc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Берём PATCH (то, что пришло на вход) из N03\n// Берём PATCH (то, что пришло на вход) из N03\nconst patch = $items(\"N03_Edit_EnsureOrderUID_AndMeta\")[0]?.json ?? {};\n\n// Важно: при Always Output Data Google Sheets может вернуть пустой item {}\n// Поэтому считаем найденными только строки, где реально есть order_uid\nconst found = $input.all()\n  .map(i => i.json)\n  .filter(r => r && r.order_uid && String(r.order_uid).trim() !== \"\");\n\n// 1) order_uid обязателен\nif (!patch.order_uid || String(patch.order_uid).trim() === \"\") {\n  return [{ json: { update_ok: false, reason: \"missing_order_uid\", order_uid: patch.order_uid || \"\" } }];\n}\n\n// 2) если не нашли — не апсертим! только ошибка\nif (found.length === 0) {\n  return [{ json: { update_ok: false, reason: \"order_not_found\", order_uid: patch.order_uid } }];\n}\n\n// 1) order_uid обязателен\nif (!patch.order_uid || String(patch.order_uid).trim() === \"\") {\n  return [{ json: { update_ok: false, reason: \"missing_order_uid\", order_uid: patch.order_uid || \"\" } }];\n}\n\n// 2) если не нашли — не апсертим! только ошибка\nif (found.length === 0) {\n  return [{ json: { update_ok: false, reason: \"order_not_found\", order_uid: patch.order_uid } }];\n}\n\n// 3) если нашли больше 1 — это проблема данных\nif (found.length > 1) {\n  return [{ json: { update_ok: false, reason: \"duplicate_order_uid_rows\", order_uid: patch.order_uid, matches: found.length } }];\n}\n\nconst current = found[0];\n\n// Списки допустимых статусов\nconst ORDER_STATUSES = [\"new\",\"paid\",\"hold_review\",\"queued\",\"in_pick\",\"packed\",\"shipped\",\"delivered\",\"refunded\",\"cancelled\"];\nconst FULF_STATUSES  = [\"not_started\",\"queued\",\"in_pick\",\"packed\",\"shipped\",\"delivered\"];\nconst PAY_STATUSES   = [\"paid\",\"pending\",\"failed\",\"refunded\"]; // если у тебя другие — скажешь, расширим\n\n// Нормализация helper\nconst normLower = (v) => (v === undefined || v === null) ? undefined : String(v).trim().toLowerCase();\n\n// Валидации (только если поле передано)\nconst nextPayment = normLower(patch.payment_status);\nif (nextPayment !== undefined && !PAY_STATUSES.includes(nextPayment)) {\n  return [{ json: { update_ok: false, reason: \"invalid_payment_status\", order_uid: patch.order_uid, value: nextPayment } }];\n}\n\nconst nextCurrent = normLower(patch.current_status);\nif (nextCurrent !== undefined && !ORDER_STATUSES.includes(nextCurrent)) {\n  return [{ json: { update_ok: false, reason: \"invalid_current_status\", order_uid: patch.order_uid, value: nextCurrent } }];\n}\n\nconst nextFulfill = normLower(patch.fulfillment_status);\nif (nextFulfill !== undefined && !FULF_STATUSES.includes(nextFulfill)) {\n  return [{ json: { update_ok: false, reason: \"invalid_fulfillment_status\", order_uid: patch.order_uid, value: nextFulfill } }];\n}\n\nconst nextHold = normLower(patch.hold_review);\nif (nextHold !== undefined && ![\"yes\",\"no\",\"true\",\"false\"].includes(nextHold)) {\n  return [{ json: { update_ok: false, reason: \"invalid_hold_review\", order_uid: patch.order_uid, value: nextHold } }];\n}\n\n// Какие поля РАЗРЕШАЕМ менять этой утилитой\nconst ALLOWED_PATCH_FIELDS = new Set([\n  \"customer_email\",\"customer_name\",\n  \"payment_status\",\"hold_review\",\n  \"fulfillment_status\",\"current_status\",\n  \"promised_ship_date\",\"tracking_id\",\"carrier\",\n  \"total_amount\",\"sku_list\",\"qty_total\",\n  \"priority_flag\",\"notes\"\n]);\n\n// Собираем чистый patch только по разрешённым полям\nconst cleanPatch = {};\nfor (const [k,v] of Object.entries(patch)) {\n  if (ALLOWED_PATCH_FIELDS.has(k)) cleanPatch[k] = v;\n}\n\n// Принудительная нормализация некоторых значений\nif (cleanPatch.payment_status !== undefined) cleanPatch.payment_status = nextPayment;\nif (cleanPatch.current_status !== undefined) cleanPatch.current_status = nextCurrent;\nif (cleanPatch.fulfillment_status !== undefined) cleanPatch.fulfillment_status = nextFulfill;\nif (cleanPatch.hold_review !== undefined) {\n  const hv = normLower(cleanPatch.hold_review);\n  cleanPatch.hold_review = (hv === \"yes\" || hv === \"true\") ? \"yes\" : \"no\";\n}\n\n// last_updated_at всегда сейчас\nconst updated = {\n  ...current,\n  ...cleanPatch,\n  order_uid: current.order_uid, // на всякий: не даём переписать ключ\n  last_updated_at: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    update_ok: true,\n    reason: \"\",\n    order_uid: patch.order_uid,\n    updated_row: updated,\n    log_action: patch.action || \"update_order_status\",\n    actor: patch.actor || \"n8n\",\n    workflow_name: patch.workflow_name || $workflow.name\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        48
      ],
      "id": "238b085a-82de-485c-b0d2-7d90e1538d77",
      "name": "N05_Code_Validate_And_MergePatch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4417c16-ec30-4766-8212-5ab6735772b0",
              "leftValue": "={{ $json.update_ok === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        48
      ],
      "id": "f155336a-e6a7-494d-bf7c-7b78572853ca",
      "name": "N06_IF_UpdateOK"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80a2c6a0-7a46-47a5-9b32-f61686023f43",
              "name": "alert_type",
              "value": "order_update_failed",
              "type": "string"
            },
            {
              "id": "3e360e5e-7f14-4d70-9cbd-b4c0fc018852",
              "name": "entity_type",
              "value": "order",
              "type": "string"
            },
            {
              "id": "364a3380-ce39-4e53-8cf1-d2f1e1ed2531",
              "name": "entity_id",
              "value": "={{ $json.order_uid }}",
              "type": "string"
            },
            {
              "id": "3ad5e6e8-5123-4dfb-b6b9-83781e651829",
              "name": "severity",
              "value": "high",
              "type": "string"
            },
            {
              "id": "ff7070f0-9c85-4f7b-a486-d292276fb6ac",
              "name": "message",
              "value": "={{ \"UTIL_Update_Order_Status failed: \" + $json.reason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        208
      ],
      "id": "9e432e03-1607-4b8c-b64c-7cbbd5e27f6f",
      "name": "N07F_Set_AlertPayload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "08heTqAoPmaiZxxP",
          "mode": "list",
          "cachedResultUrl": "/workflow/08heTqAoPmaiZxxP",
          "cachedResultName": "UTIL_Send_Internal_Alert"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1040,
        208
      ],
      "id": "8575defe-e963-4804-b314-0f48dd661b5e",
      "name": "N08F_ExecWF_Log_Failed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ce00883-04af-4490-a923-85ccac2dcab3",
              "name": "order_uid",
              "value": "={{$json.updated_row.order_uid}}",
              "type": "string"
            },
            {
              "id": "1f21f3e5-033b-428d-9555-41c19395f048",
              "name": "channel",
              "value": "={{$json.updated_row.channel}}",
              "type": "string"
            },
            {
              "id": "556bb05b-5b84-489e-a677-785b2f87df04",
              "name": "external_order_id",
              "value": "={{$json.updated_row.external_order_id}}",
              "type": "string"
            },
            {
              "id": "74234bd6-0772-4f45-955b-94a61f290346",
              "name": "customer_email",
              "value": "={{$json.updated_row.customer_email}}",
              "type": "string"
            },
            {
              "id": "571cbf9b-cf88-46e8-8804-7809da8a2e0d",
              "name": "customer_name",
              "value": "={{$json.updated_row.customer_name}}",
              "type": "string"
            },
            {
              "id": "072fb09d-e9ee-479e-afd5-407276c5e54b",
              "name": "created_at",
              "value": "={{$json.updated_row.created_at}}",
              "type": "string"
            },
            {
              "id": "3bf1bdb3-a965-469e-b946-749360ec6c64",
              "name": "payment_status",
              "value": "={{$json.updated_row.payment_status}}",
              "type": "string"
            },
            {
              "id": "5f1c0bf3-7579-4c42-952f-e74051a92265",
              "name": "hold_review",
              "value": "={{$json.updated_row.hold_review}}",
              "type": "string"
            },
            {
              "id": "73c3aa97-a7d7-489a-8868-2563925c40e0",
              "name": "fulfillment_status",
              "value": "={{$json.updated_row.fulfillment_status}}",
              "type": "string"
            },
            {
              "id": "acaf6946-f9f5-4af8-b7d6-b806ede9f446",
              "name": "current_status",
              "value": "={{$json.updated_row.current_status}}",
              "type": "string"
            },
            {
              "id": "4d352d12-724e-4b26-be04-70811aa671d9",
              "name": "promised_ship_date",
              "value": "={{$json.updated_row.promised_ship_date}}",
              "type": "string"
            },
            {
              "id": "d3eb9504-5d53-4b89-9ab1-69ea0c7ba762",
              "name": "tracking_id",
              "value": "={{$json.updated_row.tracking_id}}",
              "type": "string"
            },
            {
              "id": "72ae5577-adf8-49e6-999b-b1575bad47d8",
              "name": "carrier",
              "value": "={{$json.updated_row.carrier}}",
              "type": "string"
            },
            {
              "id": "a0276e1e-6f29-4b0d-8d7d-3cfc8ccb4c3d",
              "name": "total_amount",
              "value": "={{$json.updated_row.total_amount}}",
              "type": "string"
            },
            {
              "id": "d10ea78c-2a3e-4e1b-a24f-2cefd68da7f7",
              "name": "sku_list",
              "value": "={{$json.updated_row.sku_list}}",
              "type": "string"
            },
            {
              "id": "57724a95-7ff7-47c7-b08e-2c6d0b832add",
              "name": "qty_total",
              "value": "={{$json.updated_row.qty_total}}",
              "type": "string"
            },
            {
              "id": "9cdd8104-3b0d-4038-9a81-8eaf9b704b5f",
              "name": "priority_flag",
              "value": "={{$json.updated_row.priority_flag}}",
              "type": "string"
            },
            {
              "id": "55bd8a8a-63eb-4ed7-9106-27cca0ffa769",
              "name": "source_payload_id",
              "value": "={{$json.updated_row.source_payload_id}}",
              "type": "string"
            },
            {
              "id": "25da5b97-707f-45c0-9b22-70f453b8d2bd",
              "name": "last_updated_at",
              "value": "={{$json.updated_row.last_updated_at}}",
              "type": "string"
            },
            {
              "id": "4aeedf54-523a-41e6-a803-73d6970ed915",
              "name": "notes",
              "value": "={{$json.updated_row.notes}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -96
      ],
      "id": "85f2c2a6-4318-4a47-8888-02f757e72211",
      "name": "N09T_Set_OnlyOrdersMasterColumns"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1EHAlJOVYV2dtTBeu8uTPg3IfnkjKSBUAwIbib5Hxeso",
          "mode": "list",
          "cachedResultName": "portfolio_project2_ops_case_upgraded",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHAlJOVYV2dtTBeu8uTPg3IfnkjKSBUAwIbib5Hxeso/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 367438380,
          "mode": "list",
          "cachedResultName": "12_Orders_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHAlJOVYV2dtTBeu8uTPg3IfnkjKSBUAwIbib5Hxeso/edit#gid=367438380"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "order_uid": "={{ $json.order_uid }}"
          },
          "matchingColumns": [
            "order_uid"
          ],
          "schema": [
            {
              "id": "order_uid",
              "displayName": "order_uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "external_order_id",
              "displayName": "external_order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hold_review",
              "displayName": "hold_review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fulfillment_status",
              "displayName": "fulfillment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_status",
              "displayName": "current_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "promised_ship_date",
              "displayName": "promised_ship_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tracking_id",
              "displayName": "tracking_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carrier",
              "displayName": "carrier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sku_list",
              "displayName": "sku_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qty_total",
              "displayName": "qty_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_flag",
              "displayName": "priority_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_payload_id",
              "displayName": "source_payload_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated_at",
              "displayName": "last_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -96
      ],
      "id": "e326c8ef-f812-4a62-8c86-2c41c15bf82d",
      "name": "N10T_GSheets_Upsert_OrdersMaster",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yp3lyvYbootrNvoc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e427d412-1d33-4b02-be18-6e3e49ac9486",
              "name": "entity_type",
              "value": "order",
              "type": "string"
            },
            {
              "id": "5a8b6889-b19f-4ac1-80fc-5d12f404ff90",
              "name": "entity_id",
              "value": "={{$json.order_uid}}",
              "type": "string"
            },
            {
              "id": "a584be02-c905-4179-a1b2-253bca1fc9d1",
              "name": "workflow_name",
              "value": "UTIL_Update_Order_Status",
              "type": "string"
            },
            {
              "id": "30bbdc60-cf7d-4cec-b509-d403a2e8d4ff",
              "name": "action",
              "value": "update_order_status",
              "type": "string"
            },
            {
              "id": "cf7c8e39-66ba-4073-802e-ffe7546efcb8",
              "name": "result",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "3b60b61d-7108-40b4-b6c5-bcc3f360f57b",
              "name": "actor",
              "value": "={{ $node[\"N05_Code_Validate_And_MergePatch\"].json.actor || \"n8n\" }}",
              "type": "string"
            },
            {
              "id": "992f9a09-1ec3-4cae-b98a-ca56baba2df1",
              "name": "error_text",
              "value": "={{ $json.reason || \"\" }}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        -96
      ],
      "id": "792d50b2-cf98-4104-b054-753fc369b8a7",
      "name": "N11T_Set_OpsLogPayload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i5MI0OHvOlduRine",
          "mode": "list",
          "cachedResultUrl": "/workflow/i5MI0OHvOlduRine",
          "cachedResultName": "UTIL_Write_Ops_Log"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1472,
        -96
      ],
      "id": "dc94ad2e-1d7d-4dca-b377-afa2c0324670",
      "name": "N12T_ExecWF_Log_Success"
    }
  ],
  "pinData": {
    "N02_Trigger_Manual": [
      {
        "json": {
          "order_uid": "ord_web_TST-0068",
          "current_status": "shipped",
          "fulfillment_status": "shipped",
          "tracking_id": "TRK-TST-0001",
          "carrier": "DHL",
          "notes": "status update test",
          "actor": "manual"
        }
      }
    ]
  },
  "connections": {
    "N01_Trigger_ExecuteSubWF": {
      "main": [
        [
          {
            "node": "N03_Edit_EnsureOrderUID_AndMeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N02_Trigger_Manual": {
      "main": [
        [
          {
            "node": "N03_Edit_EnsureOrderUID_AndMeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N03_Edit_EnsureOrderUID_AndMeta": {
      "main": [
        [
          {
            "node": "N04_GSheets_Get_OrdersMaster_ByOrderUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N04_GSheets_Get_OrdersMaster_ByOrderUID": {
      "main": [
        [
          {
            "node": "N05_Code_Validate_And_MergePatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N05_Code_Validate_And_MergePatch": {
      "main": [
        [
          {
            "node": "N06_IF_UpdateOK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N06_IF_UpdateOK": {
      "main": [
        [
          {
            "node": "N09T_Set_OnlyOrdersMasterColumns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "N07F_Set_AlertPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N07F_Set_AlertPayload": {
      "main": [
        [
          {
            "node": "N08F_ExecWF_Log_Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N09T_Set_OnlyOrdersMasterColumns": {
      "main": [
        [
          {
            "node": "N10T_GSheets_Upsert_OrdersMaster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N10T_GSheets_Upsert_OrdersMaster": {
      "main": [
        [
          {
            "node": "N11T_Set_OpsLogPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N11T_Set_OpsLogPayload": {
      "main": [
        [
          {
            "node": "N12T_ExecWF_Log_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "87bbdb26-5470-4622-97ac-15c88503d159",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd0be9b7699fc594d0067c8851217c1981aafd827ff8fde772ff3178ae64ca72"
  },
  "id": "cgqlEOdHaQqwTSTL",
  "tags": []
}