projectB-NorthPeak Phase 1 - Order Intake + Fulfillment Queue (n8n + Google Sheets)/workflows/phase1/UTIL_Send_Internal_Alert/UTIL_Send_Internal_Alert.json
{
  "name": "UTIL_Send_Internal_Alert",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        -128
      ],
      "id": "e0502f1f-0af5-45c3-b160-2dc2f6287c8b",
      "name": "N01_Trigger_ExecuteSubWF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        64
      ],
      "id": "160806d0-18ae-4b8b-b7c2-3ac4a878f6bd",
      "name": "N02_Trigger_Manual"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87ab7537-9463-4ed7-a945-3bde6e3610d8",
              "name": "alert_id",
              "value": "={{\"alert_\" + $execution.id + \"_\" + Date.now()}}",
              "type": "string"
            },
            {
              "id": "ba24f861-d207-4915-bdac-d95fde85e98f",
              "name": "created_at",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            },
            {
              "id": "bfcfc3e8-d6b0-4321-9e87-17ff7dd18ba7",
              "name": "alert_type",
              "value": "={{$json.alert_type || \"exception\"}}",
              "type": "string"
            },
            {
              "id": "3bc06509-3017-4083-875b-bcdca9a7d666",
              "name": "entity_type",
              "value": "={{$json.entity_type || \"order\"}}",
              "type": "string"
            },
            {
              "id": "85ae75b3-dde3-4ea7-80a9-0148ce073c57",
              "name": "entity_id",
              "value": "={{$json.entity_id || \"\"}}",
              "type": "string"
            },
            {
              "id": "13500754-043b-483f-b717-1c7c3a1fbc10",
              "name": "severity",
              "value": "={{$json.severity || \"medium\"}}",
              "type": "string"
            },
            {
              "id": "907baeb2-3602-4f95-bd12-0f25d03e56cc",
              "name": "message",
              "value": "={{$json.message || \"\"}}",
              "type": "string"
            },
            {
              "id": "0a5b0f22-99d8-4348-a1cd-e0e1a6970fae",
              "name": "delivery_channel",
              "value": "={{$json.delivery_channel || \"sheet\"}}",
              "type": "string"
            },
            {
              "id": "12ac5458-0b69-4c3a-8cf0-3e699d5c5e7f",
              "name": "delivery_status",
              "value": "={{$json.delivery_status || \"logged\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -128
      ],
      "id": "2cc9caff-9ad0-4eb5-9e52-dda1826a01db",
      "name": "N03_Edit_DefaultAlertFields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EHAlJOVYV2dtTBeu8uTPg3IfnkjKSBUAwIbib5Hxeso",
          "mode": "list",
          "cachedResultName": "portfolio_project2_ops_case_upgraded",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHAlJOVYV2dtTBeu8uTPg3IfnkjKSBUAwIbib5Hxeso/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1340317456,
          "mode": "list",
          "cachedResultName": "20_Alerts_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHAlJOVYV2dtTBeu8uTPg3IfnkjKSBUAwIbib5Hxeso/edit#gid=1340317456"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "alert_id",
              "displayName": "alert_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_type",
              "displayName": "alert_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entity_type",
              "displayName": "entity_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entity_id",
              "displayName": "entity_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_channel",
              "displayName": "delivery_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_status",
              "displayName": "delivery_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        -128
      ],
      "id": "013a20eb-4341-48d8-a423-2cf90dad245a",
      "name": "N04_GSheets_Append_AlertsLog",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yp3lyvYbootrNvoc",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "N01_Trigger_ExecuteSubWF": {
      "main": [
        [
          {
            "node": "N03_Edit_DefaultAlertFields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N02_Trigger_Manual": {
      "main": [
        [
          {
            "node": "N03_Edit_DefaultAlertFields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N03_Edit_DefaultAlertFields": {
      "main": [
        [
          {
            "node": "N04_GSheets_Append_AlertsLog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N04_GSheets_Append_AlertsLog": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f5d775ca-b2ac-4ada-99fe-65fc2d9a8621",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd0be9b7699fc594d0067c8851217c1981aafd827ff8fde772ff3178ae64ca72"
  },
  "id": "08heTqAoPmaiZxxP",
  "tags": []
}